@{
    ViewData["Title"] = "Főoldal";
}

<div class="text-center">
    <h1 class="display-4">Üdvözöljük honlapunkon!</h1>
    <p>Tanuljon webes applikációk készítéséről ASP.NET Core környezetben, ezen a <a href="https://docs.microsoft.com/aspnet/core"> címen.</a></p>
</div>
